
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
      url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
      url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
      url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --text-color: #9e9aa8;
  --text-color-dark: #34313d;
  --accent-color-lightgreen: #2bd0d0;
  --footer-nav-color: #bfbfbf;
  --bg-img-color: #3a3054;
  --accent-color-lightgreen-hover: #9ae3e3;
  --error-red-color: #F46363;
  --outline-color: var(--text-color-dark);
  --light-background-color: #f2f2f2;
  --footer-bg-color: #232127;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* BUTTON */

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: #fff;
  border-radius: 28px;
  background-color: var(--accent-color-lightgreen);
  transition: opacity 0.4s ease;
}
.button:hover {
  background-color: var(--accent-color-lightgreen-hover);
}
.button:active {
  opacity: 0.6;
}

/* HEADER */

.header {
  padding-top: 48px;
  padding-bottom: 48px;
}
.header__container {
  padding-right: 21px;
  padding-left: 21px;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 45px;
}
.logo {
  display: inline-block;
  transition: opacity 0.4s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.logo__img {
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}

/* SITENAV */

.header__sitenav {
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav__item {
  display: inline-flex;
}
.sitenav__item:not(:last-child) {
  margin-right: 31px;
}
.sitenav__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav__link:hover {
  color: var(--text-color-dark);
}
.sitenav__link:active {
  opacity: 0.8;
}
.header__register{
  margin-left: 20px;
}
.header__login {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  margin-right: 34px;
  color: var(--text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.header__login:hover {
  color: var(--text-color-dark);
}
.header__login:active {
  opacity: 0.8;
}

.button--small {
  padding: 9px 24px;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

/* HERO */

.hero {

}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 152px;
  padding-top: 28px;
}
.hero__content {
  width: 563px;

}
.hero__heading {
  font-weight: 700;
  font-size: 79px;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--text-color-dark);
  margin-top: 0;
  margin-bottom: 5px;
}
.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
}
.hero__button {
  padding: 13px 40px;
  font-size: 20px;
  line-height: 30px;
}
.hero__img {
  width: 733px;
  height: 482px;
  margin-right: -288px;

}


/* MAIN SECTION */

.main {
  flex-grow: 1;
  background-color: var(--light-background-color);
}
.shortener {
  background-color: var(--bg-img-color);
  border-radius: 10px;
  background-image: url(../img/shortener-bg.png);
  background-size: contain;
  margin-top: -84px;
}
.shortener__form {
  padding: 52px 64px;
}
.shortener__input {
  width: 769px;
  min-height: 64px;
  padding: 14px 536px 14px 32px;
  border-radius: 10px;
  margin-right: 24px;
}
.shortener__input::placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgb(52, 49, 61, 0.5);
}

.button--shorter {
  padding: 17px 40px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
}

/* STATISTICS */

.statistics {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
.statistics__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--text-color-dark);
  margin-top: 0;
  margin-bottom: 18px;
}
.statistics__text {
  width: 540px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.12px;
}
.statistics__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.statistics__item:nth-child(2n) {
  margin-top: 44px;
}
.statistics__item:nth-child(3n) {
  margin-top: 88px;
}
.statistics__item:not(:last-child) {
  margin-right: 30px;
}
.statistics-item {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  z-index: 10;
}
.statistics-item__icon-wrapper {
  display: inline-block;
  padding: 24px;
  border-radius: 100%;
  background-color: var(--bg-img-color);
  position: absolute;
  left: 32px;
  top: 0;
  transform: translateY(-50%);
}
.statistics-item__icon-wrapper--last {
  padding: 20px;
}
.statistics-item__icon {
  display: block;
  width: 40px;
  height: 40px;
}
.statistics-item__icon--last {
  width: 47px;
  height: 48px;
}
.statistics-item__content {
  padding: 77px 32px 41px;
}
.statistics-item__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--text-color-dark);
}
.statistics-item__text {
  margin: 0;
  padding: 0;
  width: 286px;
}
.green-hr {
  width: 1110px;
  height: 8px;
  background-color: var(--accent-color-lightgreen);
  position: absolute;
  bottom: 315px;
  z-index: 0;
}