
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.woff2") format("woff2"),
  url("../fonts/Poppins-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --text-color: #9e9aa8;
  --text-color-dark: #34313d;
  --accent-color-lightgreen: #2bd0d0;
  --footer-nav-color: #bfbfbf;
  --bg-img-color: #3a3054;
  --accent-color-lightgreen-hover: #9ae3e3;
  --error-red-color: #F46363;
  --outline-color: var(--text-color-dark);
  --light-background-color: #f2f2f2;
  --footer-bg-color: #232127;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: 2px dashed var(--outline-color);
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* BUTTON */

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: 0;
  color: #fff;
  border-radius: 28px;
  background-color: var(--accent-color-lightgreen);
  transition: opacity 0.4s ease;
}
.button:hover {
  background-color: var(--accent-color-lightgreen-hover);
}
.button:active {
  opacity: 0.6;
}

/* HEADER */

.header {
  padding-top: 48px;
  padding-bottom: 48px;
}
.header__container {
  padding-right: 21px;
  padding-left: 21px;
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 45px;
}
.logo {
  display: inline-block;
  transition: opacity 0.4s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.logo__img {
  display: block;
  width: 120px;
  height: 33px;
  object-fit: contain;
}

/* SITENAV */

.header__sitenav {
  margin-right: auto;
}
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav__item {
  display: inline-flex;
}
.sitenav__item:not(:last-child) {
  margin-right: 31px;
}
.sitenav__link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: var(--text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenav__link:hover {
  color: var(--text-color-dark);
}
.sitenav__link:active {
  opacity: 0.8;
}
.header__register{
  margin-left: 20px;
}
.header__login {
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  margin-right: 34px;
  color: var(--text-color);
  transition: color 0.4s ease, opacity 0.4s ease;
}
.header__login:hover {
  color: var(--text-color-dark);
}
.header__login:active {
  opacity: 0.8;
}

.button--small {
  padding: 9px 24px;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

/* HERO */

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 152px;
  padding-top: 28px;
}
.hero__content {
  width: 563px;

}
.hero__heading {
  font-weight: 700;
  font-size: 79px;
  line-height: 90px;
  letter-spacing: -2px;
  color: var(--text-color-dark);
  margin-top: 0;
  margin-bottom: 5px;
}
.hero__text {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
}
.hero__button {
  padding: 13px 40px;
  font-size: 20px;
  line-height: 30px;
}
.hero__img {
  width: 733px;
  height: 482px;
  margin-right: -288px;

}


/* MAIN SECTION */

.main {
  flex-grow: 1;
  background-color: var(--light-background-color);
}

/* SHORTENER*/


.shortener__form {
  display: flex;
  padding: 48px 64px;
  background-color: var(--bg-img-color);
  border-radius: 10px;
  background-image: url(../img/shortener-bg.png);
  background-size: contain;
  margin-top: -84px;
  margin-bottom: 24px;
}
.shortener__input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 24px;
}
.shortener__input {
  flex-grow: 1;
  display: block;
  width: 100%;
  min-height: 64px;
  padding: 14px 32px;
  border: 3px solid transparent;
  border-radius: 10px;
}
.shortener__input::placeholder {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgb(52, 49, 61, 0.5);
}
.shortener__error-message {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.11px;
  font-style: italic;
  color: #f46363;
  display: none;
}


.shortener__input:focus:not(:placeholder-shown):invalid {
  border-color: #F46363;
  color: rgba(244, 99, 99, 0.5);
}
.shortener__input:focus:not(:placeholder-shown):invalid ~ .shortener__error-message {
  display: block;
}
.button--shorter {
  padding: 17px 40px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
}

.shortener__results {

}
.shortener__result {
  padding: 16px 24px 16px 32px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}
.shortener__result:not(:last-child) {
  margin-bottom: 16px;
}
.shortener__original-link {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--text-color-dark);
}
.shortener__short-link {
  margin-right: 24px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 0.15px;
  color: var(--accent-color-lightgreen);
  text-decoration: none;
}

.shortener__button {
  padding: 10px 31px 7px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  border-radius: 5px;
}

/* STATISTICS */

.statistics {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
.statistics__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--text-color-dark);
  margin-top: 0;
  margin-bottom: 18px;
}
.statistics__text {
  width: 540px;
  margin-top: 0;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.12px;
}
.statistics__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  z-index: 1;
}

.statistics__item:nth-child(2n) {
  margin-top: 44px;
}
.statistics__item:nth-child(3n) {
  margin-top: 88px;
}
.statistics__item:not(:last-child) {
  margin-right: 30px;
}
.statistics-item {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  z-index: 10;
}
.statistics-item__icon-wrapper {
  display: inline-block;
  padding: 24px;
  border-radius: 100%;
  background-color: var(--bg-img-color);
  position: absolute;
  left: 32px;
  top: 0;
  transform: translateY(-50%);
}
.statistics-item__icon-wrapper--last {
  padding: 20px;
}
.statistics-item__icon {
  display: block;
  width: 40px;
  height: 40px;
}
.statistics-item__icon--last {
  width: 47px;
  height: 48px;
}
.statistics-item__content {
  padding: 77px 32px 41px;
}
.statistics-item__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: var(--text-color-dark);
}
.statistics-item__text {
  margin: 0;
  padding: 0;
  width: 286px;
}
.green-hr {
  width: 1110px;
  height: 8px;
  background-color: var(--accent-color-lightgreen);
  position: absolute;
  bottom: 315px;
  z-index: 0;
}

/* CTA */

.cta {
  background-color: var(--bg-img-color);
  background-image: url(../img/features-bg.png);
  background-size: cover;
}
.cta__container {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  padding-bottom: 57px;
}
.cta__heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 32px;
  color: #fff;
}

.cta__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  padding: 13px 40px;
  margin-right: auto;
  margin-left: auto;
}

/* FOOTER */

.footer {
  background-color: var(--footer-bg-color);
}

.footer__container {
  padding-top: 71px;
  padding-bottom: 72px;
  display: flex;
  align-items: flex-start;
}

.footer__logo {
  margin-right: auto;
}

.footernav {
  display: flex;
  flex-direction: column;

}
.features {
  margin-right: 77px;
  margin-left: 30px;
}
.resources {
  margin-right: 106px;
}
.company {
  margin-right: 100px;
}
.footernav__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #fff;
}
.footernav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footernav__item:not(:last-child) {
  margin-bottom: 9px;
}
.footernav__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  color: var(--footer-nav-color);
  transition: color 0.4s ease;
}
.footernav__link:hover {
  color: var(--accent-color-lightgreen);
}
.socials {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}
.socials__item:not(:last-child) {
  margin-right: 24px;
}
.socials__link {
  display: flex;
  color: #fff;
  transition: color 0.4s ease;
}
.socials__link:hover {
  color: var(--accent-color-lightgreen);
}


.heading {
  padding: 20px;
  border: 2px solid #000;
  background-color: #fff;
}
.heading-blue {
  background-color: #2bd0d0;
  color: red;
  border-color: #232127;
}
.button-change-text {
}
.button-change-bg {
}
.dark-mode {
  background-color: #000;
}


/* MEDIA */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .features {
    background-image: url(../img/features-bg@2x.png);
    background-size: cover;
  }
  .shortener {
    background-image: url(../img/shortener-bg@2x.png);
    background-size: contain;
  }
}